<%= erb(:'partials/_navbar') %>

<h1 class="white-font"><%= @client.identifier.capitalize %></h1>
<h2 class="bottom-margin white-font">Here are the statistics for your account</h2>

<div class="client-stats">
  <div class="stats-div well">
  <h4>Average Response Time<br></h4>
  <p class="info-text"><%= @payloads.average_response_time %></p>

  <h4>Max Response Time<br></h4>
  <p class="info-text"><%= @payloads.max_response_time %></p>

  <h4>Min Response Time<br></h4>
  <p class="info-text"><%= @payloads.min_response_time %></p>
</div>

<div class="stats-div well">
  <h4>Most Frequent Request Type<br></h4>
  <p class="info-text"><%= @payloads.most_frequent_request_type %></p>

  <h4>HTTP verbs used on your sites<br></h4>
  <p class="info-text"><%= @payloads.all_request_types.join(", ") %></p>
</div>

<div class="stats-div well">
  <h4>Web Browser Breakdown<br></h4>
  <p class="info-text"><%= @user_systems.browser_breakdown.join(", ") %></p>

  <h4>Operating System Breakdown<br></h4>
  <p class="info-text"><%= @user_systems.os_breakdown.join(", ") %></p>

  <h4>Screen Resolution Breakdown: <br></h4>
  <p class="info-text">
    <% @resolutions.screen_resolutions.each do |res| %>
    <%= res.join(" X ") %><br>
    <% end %>
  </p>
</div>

<div class="client-urls well">
  <h4>URLs visited from most to least<br></h4>
  <ul><% @payloads.sort_urls_by_request_freqency.each do |url| %>
    <li><a href="/sources/<%= @client.identifier %>/urls/<%= url.split("/")[3..-1].join %>"><%= url %></a></li>
    <% end %>
  </ul>
  <h4>All events list</h4>
    <ul><li><a href="/sources/<%= @client.identifier %>/events">All Events</a></li></ul>
  </div>
</div>
